
.topic{
    background-color: #300370;
    height: 52vh;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    overflow: visible;

}
.topic p{
    color: #fff;
    padding-top: 10%;
    font-size: 6rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: "Alata";
    font-weight: 500;
}

.section3{
    margin-top: 5em;
}
.section3 .shabaq1{
    margin-top: 25em;
    animation: animate 5s linear infinite alternate;    
}
@keyframes animate{
    to{margin-top: 27em;}
}
.section3 .small_detail{
    position: absolute;
    left: 43em;
    width: 42%;

}
.small_detail p{
    color: #1D2B3C;
    line-height: 1.3;}
.section7{
height: 100vh;

}
.centres_location_members .Boxes{
height: 70vh;
margin-top: -10px;


}
/* ------------------------------------------------------------------------------- */
.Boxes:hover  .contants > i {
transform: rotate(360deg);

}

.Boxes .contants{
line-height: 4; 
}
.contants i{
margin-left: 0em;
color: #e42b2b;
transition: transform 0.6s;
}
.contants h3{
color: #1D2B36;
text-align: left;
font-weight: normal;
font-size: 25px;
}

.contants h3,.contants p{
line-height: 2.5;
} 
.contants p{
color: #707B87;
text-align: left;
line-height: 1.5;
font-size: 18px;
}
.contants ul{
list-style-type: circle;
line-height: normal;
font-size: 18px;
color: #707B87;
padding-left: 30px;


}

/*-------------------------------------Video Section----------------------------------*/
.vidio_section{
margin-top: 5em;
width: 100%;
height: 90vh;
box-sizing: border-box;
overflow: hidden;
position: relative;

}
.vidio_section .small_left_text{
margin-top: 4em;
margin-left: 5em;
width: 350px;
} 
.vidio_section .shabaq1{
position: absolute;
right: 0;
top: 17em;
animation: animate 10s ease-in-out infinite ;
}
@keyframes animate{
    to{top: 20em;}
}
.video_images img{
position: absolute;
top: 0;
right: 0;
z-index: 1;
border-radius: 20px;   
}

/* ----------------------video------------------------------------------ */
.video_images  a {
background-color: #fff;
padding: 10px;
border: 1px solid red !important;
border-radius: 50%;
/* border: 2px solid #fff; */
} 
.video_images i{
z-index: 2;
font-size: 70px;
position: absolute;
right: 6em;
color: #FF3366;
bottom: 4.5em;
/* background-color: #fff;
padding: 10px;
border-radius: 50%; */

}
.num2{
background: none;
} 
.num2 .Boxes{
box-shadow: 5px 5px 8px #F6F6F7;
box-shadow: 0 20px 70px 0 rgb(38 42 76 / 10%) !important;
}

.how_we_work{
width: 100%;
height: 85vh;
background-color: #E8DCDC;
margin-top: -15em;

}
.how_we_work .txt{
padding-top: 16em;

}
.how_we_work .txt h2{
text-align: center;
font-size: 35px;
font-family: "Alata" sans-serif;
color: #1D2B36;
line-height: 0;
font-weight: bolder;
margin: 0 0 25px;
}
.how_we_work .txt p{
padding: 0 70px;
font-size: 18px;
color: #777777;
font-weight: bold;
}

.num3{
margin-top: -14em;
}

.Why_Sombiz{
box-sizing: border-box;
overflow: hidden;
position: relative;
}

.Why_Sombiz img{
width: 100%;
height: 63vh;
}
.Why_Sombiz .h1_p{
position: absolute;
top: 5em;
left: 5em;
}
.Why_Sombiz .h1_p h1{
color: #E80505;
font-size: 60px;
font-family: "Alata", sans-serif !important;
line-height: 2;
}
.Why_Sombiz .h1_p p{
color: #171717;
font-size: 20px;
font-family: "Alata", sans-serif !important;

}

.footer{
margin-top: -0.3em;
}

/* for tablet */
@media screen and (max-width: 768px) {
.section3{
position: relative;
overflow: visible;
margin-top: -22em;
}
.section3 .shabaq1 img{
position: absolute;
top: 15em;
left: 0;
width: 150px;
height: auto;     
}
.section3 .video_image img{
position: absolute;
left: 3em;
width: 300px;
}
.section3 .small_detail{
position: absolute;
left: 25em;
/* border: 1px solid red; */
box-sizing: border-box;
height: 90vh;
z-index: 1;

}
.section3 .small_detail p{
font-size: 20px;
font-weight: 500;

}

/* section7 */
.section7{
margin-top: 15em;
height: 190vh;
}

/* video section */
.vidio_section{
/* border: 1px solid red; */
height: 160vh;
position: relative;
/* padding: 0;
margin: 0; */
}
.vidio_section .small_left_text{
position: absolute;
top: -65px;
left: -3em;
/* border: 1px solid blue; */
width: 100%;
}
.vidio_section .video_images{
position: relative;
top: 27em;
right: 2em;
/* border: 1px solid darkblue; */
height: 73vh;
}
.vidio_section .video_images img{
width: 90%;
}
/* .vidio_section .video_images a{
position: absolute;
top: -50%;
left: -50%;
transform: translate(-50%, -50%);

} */
/* .vidio_section .video_images a i{
position: absolute;

} */
.vidio_section .shabaq1{
margin-top: 22em;
}
.vidio_section .shabaq1 img{
width: 250px;
}

/* num2*/
.num2{
margin-top: 0em;
}
.num2 .centres_location_members .box-three{
position: absolute;
right: 0;
top: 120%;

}
.how_we_work{
margin-top: -16em;
height: 70vh;
} 
.how_we_work .txt {
padding-top: 9.7em;
z-index: 5;
}

/* num 3 */
.num3{
margin-top: -10em; 
}

/* Why_Sombiz */
.Why_Sombiz{
margin-top: -29em;
}



}

